html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#root {
  height: 100%;
}

:root {
  --color-primary: #ffaa5a;
  --color-purple: #beb8eb;
  --color-black: #424b54;
}
