:root {
  --color-primary: #ffaa5a;
  --color-purple: #beb8eb;
  --color-black: #424b54;

  --z-index-default: 64;
  --z-index-menu: 128;
  --z-index-popup: 256;
}

html,
body {
  height: 100%;
  font-family: 'PingFang SC', 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*::before,
*::after {
  box-sizing: border-box;
}

input {
  -webkit-user-select: auto;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

#root {
  height: 100%;
}

:where(.pp-icon) {
  fill: currentColor;
  stroke: currentColor;
  width: 70%;
  height: 70%;
}

.pp-loading-wrapper {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  > svg {
    animation: spin 1.5s ease-in-out infinite;
  }
}
